<footer style="margin-top:35%;" class="footer">
    <div class="container">
        <p class="text-center text-muted">MARVELTASKS @ <a href="https://hub.uvcemarvel.in">MARVEL-UVCE</a></p>
    </div>
    </footer>