.container{
  flex: 1;
  flex-direction: column;
  border-right: 2px solid darkgrey;
  padding: 2%;
  align-items: center;
  padding-left: 15%;
}
h2{
    margin-left: 10%;
}
h1{
    text-align: center;
}
body{
    color: goldenrod;
    background-color: black;
}
li{
    font-size: medium;
}
.out{
    flex: 1;

    padding-left: 15%;
    align-items: center;
}
.a{
    display: flex;

}
#avg{
    padding: 5%; 
}