body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1; /* Fill remaining vertical space */
}

.footer {
    flex-shrink: 0; /* Prevent footer from shrinking */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
