<!-- views/resources/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>

<body>
    <%- include ('../partials/nav') %>
    <div style="margin-top: 5%;">
        <h1>All Resources</h1><a href="/allresources" >click here</a>
       
    </div>
    
</body>
<%- include ('../partials/footer') %>
<%- include ('../partials/scripts') %>
</html>
